USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[ExisteAsiento]    Script Date: 23/08/2025 19:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ExisteAsiento]

	@id_asiento int

	as
	begin
		select 1 from Asientos where id_asiento = @id_asiento
	end 
	go