USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_asiento]    Script Date: 12/08/2025 17:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_insertar_asiento]
    @descripción text
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Insertar asiento
        INSERT INTO Asientos (fecha_asiento, descripcion)
        VALUES (GETDATE(), @descripción);

    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS error, ERROR_LINE() AS linea, ERROR_NUMBER() AS codigo;
    END CATCH
END;




