USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[insertarUsuario]    Script Date: 9/5/2025 01:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*insert de usuario: pacientes y medicos*/
ALTER PROCEDURE [dbo].[insertarUsuario]
    @DNI INT,
    @nombres VARCHAR(100),
    @apellido varchar (100),
    @mail VARCHAR(100),
    @username VARCHAR(50),
    @contrasena VARCHAR(100),
    @id_rol INT
AS
BEGIN
    BEGIN TRY
        INSERT INTO Usuarios (DNI, nombres, apellido, mail, username, contrasena, id_rol )
        VALUES (@DNI, @nombres, @apellido, @mail, @username, @contrasena, @id_rol);

        PRINT 'Usuario insertado correctamente.';
    END TRY
    BEGIN CATCH
        PRINT 'Error al insertar el usuario.';
        PRINT ERROR_MESSAGE();
    END CATCH
END