USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[insertUsuarioCorriente]    Script Date: 9/5/2025 01:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[insertUsuarioCorriente]
@id_usuario int

as
begin
	begin try
		insert into usuario_corriente(id_usuario)
		values (@id_usuario)
		print 'Datos de operador agregado correctamente'
	end try
	begin catch
		print 'Error al ingresar médico'
		print ERROR_MESSAGE();
	end catch

END