USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[sp_estado_resultados_rubros]    Script Date: 30/10/2025 14:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_estado_resultados_rubros]
    @fecha_cierre DATE
AS
BEGIN
    PRINT '=============================='
    PRINT 'ESTADO DE RESULTADOS'
    PRINT 'Fecha de cierre: ' + CONVERT(VARCHAR, @fecha_cierre, 103)
    PRINT '=============================='

    SELECT 
        CASE 
            WHEN codigo LIKE '40%' THEN 'Ventas e Ingresos'
            WHEN codigo LIKE '50%' THEN 'Compras y Gastos'
            ELSE 'Otros'
        END AS Rubro,
        SUM(CASE WHEN id_tipo_saldo = 4 THEN saldo ELSE 0 END) AS Total_Ingresos,
        SUM(CASE WHEN id_tipo_saldo = 5 THEN saldo ELSE 0 END) AS Total_Gastos,
        SUM(CASE WHEN id_tipo_saldo = 4 THEN saldo ELSE 0 END) -
        SUM(CASE WHEN id_tipo_saldo = 5 THEN saldo ELSE 0 END) AS Resultado_Rubro
    FROM Cuentas
    WHERE id_tipo_saldo IN (4,5)
    GROUP BY CASE 
                WHEN codigo LIKE '40%' THEN 'Ventas e Ingresos'
                WHEN codigo LIKE '50%' THEN 'Compras y Gastos'
                ELSE 'Otros'
             END
    ORDER BY Rubro;

    -- Resultado total del ejercicio
    DECLARE @resultado_total DECIMAL(12,2)
    SELECT @resultado_total = SUM(
        CASE 
            WHEN id_tipo_saldo = 4 THEN saldo
            WHEN id_tipo_saldo = 5 THEN -saldo
            ELSE 0
        END
    )
    FROM Cuentas

    PRINT '------------------------------'
    PRINT 'RESULTADO TOTAL DEL EJERCICIO: ' + CAST(@resultado_total AS VARCHAR)
    PRINT '------------------------------'
END
