USE [sistemaContable]
GO
/****** Object:  StoredProcedure [dbo].[selectCuentas]    Script Date: 04/09/2025 14:53:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[selectCuentas]
as
begin
	SELECT id_cuenta, codigo, cuenta, saldo, id_tipo_saldo
	FROM Cuentas;
end
go
