CREATE or alter PROCEDURE libroMayor
    @idCuenta INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Libro TABLE (
        id_asiento INT,
        id_cuenta INT,
        nombre_cuenta NVARCHAR(100),
        fecha_asiento DATETIME,
        descripcion NVARCHAR(MAX),
        debe DECIMAL(12,2),
        haber DECIMAL(12,2),
        saldo_acumulado DECIMAL(12,2),
        tipo_saldo NVARCHAR(10)
    );

    DECLARE @saldo DECIMAL(12,2) = 0;

    DECLARE cur CURSOR FOR
    SELECT o.id_asiento,
           o.id_cuenta,
           c.cuenta,
           a.fecha_asiento,
           a.descripcion,
           CASE WHEN o.id_tipo_movimiento = 1 THEN o.monto ELSE 0 END AS debe,
           CASE WHEN o.id_tipo_movimiento = 2 THEN o.monto ELSE 0 END AS haber
    FROM Operaciones o
    INNER JOIN Asientos a ON o.id_asiento = a.id_asiento
    INNER JOIN Cuentas c ON o.id_cuenta = c.id_cuenta
    WHERE (@idCuenta = 0 OR o.id_cuenta = @idCuenta)
    ORDER BY o.id_cuenta, a.fecha_asiento, o.id_asiento;

    OPEN cur;

    DECLARE @id_asiento INT, @id_cuenta INT, @nombre NVARCHAR(100),
            @fecha DATETIME, @descripcion NVARCHAR(MAX),
            @debe DECIMAL(12,2), @haber DECIMAL(12,2);

    FETCH NEXT FROM cur INTO @id_asiento, @id_cuenta, @nombre, @fecha, @descripcion, @debe, @haber;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- saldo acumulado
        SET @saldo = ISNULL(@saldo,0) + ISNULL(@debe,0) - ISNULL(@haber,0);

        -- tipo de saldo
        DECLARE @tipoSaldo NVARCHAR(10) = CASE WHEN @saldo >= 0 THEN 'DEUDOR' ELSE 'ACREEDOR' END;

        INSERT INTO @Libro(id_asiento, id_cuenta, nombre_cuenta, fecha_asiento, descripcion, debe, haber, saldo_acumulado, tipo_saldo)
        VALUES(@id_asiento, @id_cuenta, @nombre, @fecha, @descripcion, @debe, @haber, @saldo, @tipoSaldo);

        FETCH NEXT FROM cur INTO @id_asiento, @id_cuenta, @nombre, @fecha, @descripcion, @debe, @haber;
    END

    CLOSE cur;
    DEALLOCATE cur;

    SELECT *
    FROM @Libro
    ORDER BY id_cuenta, fecha_asiento, id_asiento;
END;
